body{
    height:100vh;
    width:100vw;
    background-image:url('https://images.unsplash.com/photo-1469504512102-900f29606341?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9');
    // background: url('https://images.unsplash.com/photo-1506157786151-b8491531f063?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    background-color:#EFE;
    background-repeat: no-repeat;
    background-position-y: -1000px; 
    background-size: cover;
}

.app-wrapper{
    padding-top:75px;
    width:100vw;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
}