body{
    background: url('../../images/main-bg1.jpg');
    background-color:#EFE;
    background-repeat: no-repeat; 
    background-size: cover;
    // background-position: center;
}


::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-track{
    background:#353d45;
}

::-webkit-scrollbar-thumb{
    background: $sss_green;
}