.login-wrapper{
    height: 92.3vh;
    position: relative;

    .login-page{
        // border: 10px solid orange;
        display:flex;
        align-items:center;
        justify-content: center;
        height: 100%;

        &:before{
            content: "";
            position: absolute;
            background-color: rgba($color: #000000, $alpha: .7);
            height: 100%;
            width: 100%;
            z-index: -1;
        }
    }
}

.login-form-wrapper{
    width:600px;
    height: 600px;
    padding:20px;
    background-color:#333c;
    display:flex;
    flex-direction:column;
    border-radius:20px;
    border: 2px solid $sss_green;
    align-items:center;

    h2{
        color:#fff;
        margin:20px 0;
        font-size:3rem;

        i{
            color: $sss_green;
        }
    }

    Form{
        display:flex;
        flex-direction:column;
        justify-content: right;

        .login-status{
            margin:5px 0;
            font-size:1.2rem;

            p{
                color:white;
                background-color:#F005;
                padding: 1.5rem;
                border-radius:30px;
                margin:2px 0;
                text-align: center;
            }
            
        }
        
        input{
            padding: 2rem;
            border: none;
            border-radius: 30px;
            width:500px;
            margin:1rem 0;
        }

        input[type="text"],
        input[type="password"]{
            font-size: 1.5rem;
        }

        button{

            padding: 1.5rem;
            font-size: 2.5rem;
            margin-top: 1rem;
            margin-bottom: 2rem;
            font-weight: bold;
            border-radius: 40px;
            border:1px solid $sss_green;
            // border-radius:5px;
            background-color: #353d45;
            color:#fff;

            &:hover{
                background-color: $sss_green;
            }
        }
    }

    

    p{
        color:#fff;
        font-size: 1.5rem;
    }

    a{
        // text-decoration:none;
        color:$sss_green;
    }
}