.song-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    background: #353d45;
    color: white;
    width: 500px;
    height: 200px;
    margin: 20px auto 0;
    padding: 20px 30px;
    // line-height: 2;
    
    h2 {
        color: $sss_green;
    }

    .save-song-btn {
        background-color: $sss_green;
        border: none;
        width: 60%;
        margin: 0 auto;
        padding: 8px 15px;
        font-family: 'Montserrat', sans-serif;
        cursor: pointer;
    }
}
